<div class="panel panel-wide">
  <div class="panel-heading">
    <h3 class="panel-title">Visit</h3>
  </div>
  <div class="panel-body">
    <table>
      <%= render 'visit_header' %>
      <tbody>
        <%= render 'visit_entry', visit: @visit %>
      </tbody>
    </table>
  </div>
</div>
